page-home {

}

/* 
Colors:

Background-color: #007AFF; ---> Ionic Blue
Color: #FFFFFF; ---> Ionic White
Color: #f53d3d; ---> Ionic Red
Color: #4D4D4D; ---> Ionic Grey
Font-Family: 'Futura';

*/

body {
	font-family: 'Garamond';
}


#instruction-slide1 {
	
	font-size: 15px;
	color: #4D4D4D;
	background-color: #FFFFFF;
}

#instruction-slide2 {
	font-family: 'Times New Roman';
	font-size: 15px;
	color: #4D4D4D;
	background-color: #FFFFFF;
}

#instruction-slide3 {
	font-family: 'Times New Roman';
	font-size: 15px;
	color: #4D4D4D;
	background-color: #FFFFFF;
}

h4 {
	font-family: 'Futura';
}

